<div class="container mt-5">
    <div class="row" *ngIf="test">
        <div class="col">

            <h1 class="text-center">{{test.tipTesta.naziv}} - {{test.datum | date:'d. MMM y.'}}</h1>

            <div class="container text-center mt-2" *ngIf="id">
                <button class="btn btn-secondary" (click)="navigateEvidentiranje()">Izmeni</button>
            </div>

            <div class="container my-5">
                <div class="row text-center">
                    <div class="col">
                        <label for="grupaNaziv">Grupa</label>
                        <h2 id="grupaNaziv">{{test.grupa.naziv}}</h2>
                    </div>
                    <div class="col">
                        <label for="grupaNaziv">Predmet</label>
                        <h2 id="grupaNaziv">{{test.predmet.naziv}}</h2>
                    </div>

                </div>
            </div>

            <div class="row text-center">
                <div class="col">
                    <h3 class="form-label">Max poena: {{test.maxPoena}}</h3>
                </div>
                <div class="col">
                    <h3 class="form-label">Grupe: {{grupe2string()}}</h3>
                </div>
                <div class="col">
                    <h3 class="form-label">Pregledan: {{test.pregledan ? "DA" : "NE"}}</h3>
                </div>
            </div>
        </div>

        <div class="container mt-4">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
          
              <!-- Student Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Ime i Prezime</th>
                <td mat-cell *matCellDef="let element">{{element.student.ime}} {{element.student.prezime}}</td>
              </ng-container>
          
              <!-- Student Index Column -->
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Indeks</th>
                <td mat-cell *matCellDef="let element">{{element.student.indeks}}</td>
              </ng-container>
          
              <!-- Group Column -->
              <ng-container matColumnDef="group">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Grupa</th>
                <td mat-cell *matCellDef="let element">{{element.grupa}}</td>
              </ng-container>
          
              <!-- Points Column -->
              <ng-container matColumnDef="points">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Poeni</th>
                <td mat-cell *matCellDef="let element">{{element.ostvareniPoeni === null ? '- Nije pregledano -' : element.ostvareniPoeni}}</td>
              </ng-container>
          
              <!-- Header and Row Definitions -->
              <tr mat-header-row *matHeaderRowDef="kolone"></tr>
              <tr mat-row *matRowDef="let row; columns: kolone;"></tr>
            </table>
          
            <!-- Paginator -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
          
          
        
    </div>
</div>