<div class="container mt-5">
  @if (student) {
    <div>
      <div class="row">
        <div class="col text-left">
          <h1>Podaci o Studentu</h1>
          <p><strong>Ime i Prezime:</strong> {{ student.ime }} {{ student.prezime }}</p>
          <p><strong>Grupa:</strong> {{ student.grupa }}</p>
          <p><strong>Broj indeksa:</strong> {{ student.indeks }}</p>
          <!-- <button class="btn btn-primary mt-3" (click)="navigateBack()">Nazad</button> -->
        </div>
        <!-- Aktivnosti Section -->
        @if (student.aktivnosti && student.aktivnosti.length > 0) {
          <div class="mt-4">
            <h2>Aktivnosti</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Tip</th>
                  <th>Tema</th>
                  <th>Napomene</th>
                </tr>
              </thead>
              <tbody>
                @for (aktivnost of student.aktivnosti; track aktivnost) {
                  <tr
                    (click)="nagivatePredavanje(aktivnost.predavanjeId)">
                    <td>{{ aktivnost.datum | date:'dd.MM.yyyy' }}</td>
                    <td>{{ aktivnost.tip }}</td>
                    <td>{{ aktivnost.tema }}</td>
                    <td>{{ aktivnost.napomene || defaultNapomena }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
        <!-- Uradjeni Domaci Section -->
        @if (student.uradjeniDomaci.length > 0) {
          <div class="mt-4">
            <h2>Domaći</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Naslov</th>
                  <th>Bodovi</th>
                  <th>Napomene</th>
                </tr>
              </thead>
              <tbody>
                @for (domaci of student.uradjeniDomaci; track domaci) {
                  <tr
                    (click)="navigateDomaci(domaci.domaciId)">
                    <td>{{ domaci.datum | date:'dd.MM.yyyy' }}</td>
                    <td>{{ domaci.naslov || 'Nema naslova' }}</td>
                    <td>{{ domaci.bodovi }}</td>
                    <td>{{ domaci.napomene || defaultNapomena }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
        <!-- Polaganja Section -->
        @if (student.polaganja.length > 0) {
          <div class="mt-4">
            <h2>Polaganja</h2>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Tip Testa</th>
                  <th>Osvojeni Poeni</th>
                  <th>Napomene</th>
                </tr>
              </thead>
              <tbody>
                @for (polaganje of student.polaganja; track polaganje) {
                  <tr
                    (click)="navigateTest(polaganje.testId)">
                    <td>{{ polaganje.datum | date:'dd.MM.yyyy' }}</td>
                    <td>{{ polaganje.tipTesta.naziv }}</td>
                    <td>{{ polaganje.ostvareniPoeni }}</td>
                    <td>{{ polaganje.napomene || defaultNapomena }}</td>
                  </tr>
                }
              </tbody>
            </table>
          </div>
        }
      </div>
    </div>
  } @else {
    <div class="row">
      <div class="col text-center">
        <h1 class="text-danger">Greška: Student nije pronađen!</h1>
        <button class="btn btn-secondary mt-3" (click)="navigateBack()">Back to List</button>
      </div>
    </div>
  }

  <!-- Else block for when student is not found -->
</div>