<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="text-center mb-5">Dodaj domaći</h2>

            <form (submit)="dodajDomaci()">
                <div class="form-group mb-3">
                    <label for="select-predmet" class="form-label">Izaberi predmet</label>
                    <select id="select-predmet" class="form-select" required>
                        <option value="" disabled>Izaberi predmet *</option>
                        <option *ngFor="let p of predmeti" [ngValue]="p.id">{{p.naziv}}</option>
                    </select>
                </div>
            
                <div class="form-group mb-3">
                    <label for="select-grupa" class="form-label">Izaberi grupu</label>
                    <select id="select-grupa" class="form-select" required>
                        <option value="" disabled>Izaberi grupu *</option>
                        <option *ngFor="let g of grupe" [ngValue]="g.id">{{g.naziv}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Izaberi predavanje</label>
                    <select id="select-predavanje" class="form-select">
                        <option value="" disabled>Izaberi predavanje</option>
                         <option *ngFor="let p of predavanja" [ngValue]="p.id">P{{p.rb}}: {{p.tema}} - {{p.datum | date : 'd. MMM. y'}}</option>
                    </select>

                </div>
        
                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-block"
                    [disabled]="!izabranPredmet && !izabranaGrupa">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>