<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <h2 class="text-center mb-5">Kreiraj domaći</h2>

      <form (submit)="dodajDomaci()">
        <div class="form-group mb-3">
          <label for="select-predmet" class="form-label">Izaberi predmet</label>
          <select [(ngModel)]="izabranPredmet" id="select-predmet" name="predmet" class="form-select" required
            (change)="autoPretrazivanjePredavanja()">
            <option value="" disabled>Izaberi predmet *</option>
            @for (p of predmeti; track p) {
              <option [ngValue]="p.id">{{p.naziv}}</option>
            }
          </select>
        </div>

        <div class="form-group mb-3">
          <label for="select-grupa" class="form-label">Izaberi grupu</label>
          <select [(ngModel)]="izabranaGrupa" id="select-grupa" name="grupa" class="form-select" required
            (change)="autoPretrazivanjePredavanja()">
            <option value="" disabled>Izaberi grupu *</option>
            @for (g of grupe; track g) {
              <option [ngValue]="g.id">{{g.naziv}}</option>
            }
          </select>
        </div>

        <div class="form-group mb-3">
          <label>Izaberi predavanje</label>
          <select [(ngModel)]="izabranoPredavanje" id="select-predavanje" name="predavanje"
            class="form-select" [disabled]="!izabranPredmet || !izabranaGrupa">
            @if (predavanja.length===0) {
              <option value="" disabled>Nema predavanja za
              date filtere</option>
            } @else {
              <option [ngValue]="0">/</option>
            }
            @for (p of predavanja; track p) {
              <option [ngValue]="p.id">P{{p.rb}}: {{p.tema}} - {{p.datum | date :
              'd. MMM. y'}}</option>
            }
          </select>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary"
          [disabled]="!izabranPredmet || !izabranaGrupa">Dodaj</button>
        </div>
      </form>
    </div>
  </div>
</div>