<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <h2 class="text-center mb-5">Kreiraj domaći</h2>

            <form (submit)="dodajDomaci()">
                <div class="form-group mb-3">
                    <label for="select-predmet" class="form-label">Izaberi predmet</label>
                    <select [(ngModel)]="izabranPredmet" id="select-predmet" name="predmet" class="form-select" required
                        (change)="autoPretrazivanjePredavanja()">
                        <option value="" disabled>Izaberi predmet *</option>
                        <option *ngFor="let p of predmeti" [ngValue]="p.id">{{p.naziv}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label for="select-grupa" class="form-label">Izaberi grupu</label>
                    <select [(ngModel)]="izabranaGrupa" id="select-grupa" name="grupa" class="form-select" required
                        (change)="autoPretrazivanjePredavanja()">
                        <option value="" disabled>Izaberi grupu *</option>
                        <option *ngFor="let g of grupe" [ngValue]="g.id">{{g.naziv}}</option>
                    </select>
                </div>

                <div class="form-group mb-3">
                    <label>Izaberi predavanje</label>
                    <select [(ngModel)]="izabranoPredavanje" id="select-predavanje" name="predavanje"
                        class="form-select" [disabled]="!izabranPredmet || !izabranaGrupa">
                        <option value="" *ngIf="predavanja.length===0; else selectOption" disabled>Nema predavanja za
                            date filtere</option>
                        <ng-template #selectOption>
                            <option [ngValue]="0">/</option>
                        </ng-template>
                        <option *ngFor="let p of predavanja" [ngValue]="p.id">P{{p.rb}}: {{p.tema}} - {{p.datum | date :
                            'd. MMM. y'}}</option>
                    </select>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary"
                        [disabled]="!izabranPredmet || !izabranaGrupa">Dodaj</button>
                </div>
            </form>
        </div>
    </div>
</div>