<div class="container mt-5">
    <div class="row">
        <div class="col" *ngIf="test">

            <h1 class="text-center">Evidentiranje testa</h1>

            <div class="container text-center mt-2" *ngIf="id">
                <button class="btn btn-secondary" (click)="navigatePregled()" disabled>Pregled</button>
            </div>

            <div class="my-4">

                <div class="form-group mb-3">
                    <label for="testDatum">Datum:</label>
                    <input [(ngModel)]="novDatum" type="date" id="testDatum" class="form-control">
                </div>

                <div class="form-group mb-3">
                    <label for="testMaxPoena" class="form-label">Max poena:</label>
                    <input [(ngModel)]="novMaxPoena" type="number" id="testMaxPoena" name="testMaxPoena" class="form-control">
                </div>

                <div>
                    <button class="btn btn-primary" (click)="azuriraj()" [disabled]="jesuLiPoljaNepromenjena()">Sačuvaj</button>
                </div>


            </div>

            <div *ngIf="!test" class="alert alert-warning mt-3">
                Nema dostupnih podataka o testu
            </div>

            <div class="row mt-5" *ngIf="test">
                <div class="col">
                    <div class="row mb-3">
                        <h3 class="col">Ispitanici</h3>
                        <div class="col-auto">
                            <!-- TODO dodaj ngIf test.polaganja.length < grupa.studenti.length -->
                            <button class="btn btn-primary" (click)="toggleModal()"
                            [disabled]="test.pregledan"
                            *ngIf="postojeStudentiZaDodavanje()"
                            >Dodaj</button>
                        </div>
                    </div>

                    <div *ngIf="test.polaganja && test.polaganja.length > 0; else noPolaganja">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Student</th>
                                        <th>Broj poena</th>
                                        <th>Napomene</th>
                                        <th class="text-center">Akcije</th>
                                        <th class="text-center">Ukloni</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let p of test.polaganja; let i = index">
                                        <td>{{i+1}}</td>
                                        <td>{{p.student.ime}} {{p.student.prezime}} {{p.student.indeks}}</td>
                                        <td>{{poeni2string(p)}}</td>
                                        <td>{{p.napomene}}</td>
                                        <td class="text-center">
                                            <button class="btn btn-sm" [ngClass]="p.ostvareniPoeni ? 'btn-secondary' : 'btn-primary'">Evidentiraj</button>
                                        </td>
                                        <td class="text-center">
                                            <button class="btn btn-sm btn-secondary" (click)="ukloniIspitanika(p.student.id)">X</button>
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>

                    <ng-template #noPolaganja>
                        <p class="alert alert-info" (click)="toggleModal()">Nema prisutnih</p>
                    </ng-template>
                </div>
            </div>

            <div class="container text-center my-5" *ngIf="test.id">
                <button class="btn btn-secondary" (click)="zavrsiEvidentiranje()"
                [disabled]="test.pregledan">Završi</button>
            </div>
        </div>

        <div class="modal" [ngStyle]="{'display': showModal ? 'block' : 'none'}">
            <div class="modal-content table-responsive">
                <div class="row mb-5">
                    <h3 class="col">Studenti u Grupi</h3>
                    <button class="btn col btn =btn-secondary mx-3 col-md-1" (click)="toggleModal()">X</button>
                </div>
                <table class="table table-striped table-bordered"  *ngIf="postojeStudentiZaDodavanje(); else noMoreStudents">
                    <thead>
                        <tr>
                            <th style="width: 28px">#</th>
                            <th>Student</th>
                            <th class="text-center" style="width: 120px;">Indeks</th>
                            <th class="text-center" style="width: 50px;">Dodaj</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let s of studentiZaDodavanje; let i = index">
                            <td>{{i+1}}</td>
                            <td>{{s.ime}} {{s.prezime}}</td>
                            <td class="text-center text-nowrap">{{s.indeks}}</td>
                            <td class="text-center">
                                <button class="btn btn-sm btn-primary"
                                (click)="dodajIspitanika(s.id)">Dodaj</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <ng-template #noMoreStudents>
                <p class="alert alert-info">Nema studenata za dodavanje</p>
            </ng-template>

        </div>


    </div>
</div>