<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="text-center mb-4">Započni predavanje</h2>

      <form (ngSubmit)="startLecture()">
        <!-- Group Selection -->
        <div class="form-group mb-3">
          <label for="group" class="form-label">Izaberi grupu:</label>
          <select [(ngModel)]="izabranaGrupa" id="group" name="group" class="form-select" required>
            <!-- <option value="" disabled>Izaberi grupu</option> -->
            @for (g of grupe; track g) {
              <option [ngValue]="g.id">{{ g.naziv }}</option>
            }
          </select>
        </div>

        <!-- Subject Selection -->
        <div class="form-group mb-3">
          <label for="subject" class="form-label">Izaberi predmet:</label>
          <select [(ngModel)]="izabranPredmet" id="subject" name="subject" class="form-select" required>
            <!-- <option value="" disabled>Izaberi predmet</option> -->
            @for (p of predmeti; track p) {
              <option [ngValue]="p.id">{{ p.naziv }}</option>
            }
          </select>
        </div>

        <!-- Submit Button -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!izabranaGrupa || !izabranPredmet">
            Pokreni
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
