@import "~bootstrap/dist/css/bootstrap.min.css";

.btn-primary {
    background-color: #e96989;
    /* color: #010101; */
  }
  
  .btn-primary:hover {
    background-color: #d95979;
  }

  .btn-primary:disabled {
    background-color: #ff7f9f;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
